<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boo Shop</title>
    <style>
        body { text-align: center; background-color: lightcoral; color: white; font-weight: bold; }
        button { font-size: 20px; padding: 10px; cursor: pointer; }
    </style>
</head>
<body>
    <h1>Boo Shop</h1>
    <img src="https://scontent-hbe1-1.xx.fbcdn.net/v/t1.0-9/122702097_108680281037418_2193992298437309730_n.jpg?_nc_cat=105&ccb=2&_nc_sid=09cbfe&_nc_ohc=7PgbzyBDfkUAX-2zHUH&_nc_ht=scontent-hbe1-1.xx&oh=c4f0108bc15d3cc79a39486bf517adaf&oe=6019D180" alt="LOGO">
    <p>Handmade Products</p>

    <br />
    <br />
    <a href="/shop"><button>View Products</button></a>
</body>
</html>