<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boo Shop</title>
    <style>
        body { text-align: center; background-color: lightcoral; color: white; font-weight: bold; }
        button { font-size: 20px; padding: 10px; cursor: pointer; }
    </style>
</head>
<body>
    <h1>Boo Shop</h1>
    <p>Handmade Products</p>

    <br />
    <br />
    <a href="/shop"><button>View Products</button></a>
</body>
</html>